framework/node_modules
framework/public
framework/storage
vendor
framework/.env
framework/.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose.home.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
framework/.idea
framework/.vscode
framework/webpack.mix.js